* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: bold;
    background-color: #f3f4f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

header {
    margin-bottom: 2rem;
    text-align: center;
}
main {
    width: 100%;
    display: flex;
    justify-content: center;
}
    .login-container {
        padding: 5rem 3rem 5rem 3rem; 
    border-radius: 10px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px; }
    .form-group {
      position: relative;
      margin-bottom: 1rem;
    }
    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    .icon-container {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
      color: #888;
    }
    .icon-container:hover {
      color: #333;
    }
    button[type="submit"] {
      width: 100%;
      padding: 10px;
      font-size: 1rem;
      background-color: #4f6df7;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

/* Estilos específicos para desktop */
@media (min-width: 1024px) {
    header {
        margin-bottom: 3rem;
    }

    h1 {
        font-size: 2.5rem;
    }


    .login-container {
        
        padding: 3rem 4rem;
        width: 450px;
    }

    input, button {
        font-size: 1.2rem;
        padding: 1rem;
    }

    .icon {
        font-size: 4rem;
        margin-bottom: 2rem;
    }
}



